@font-face {
  font-family: "iconfont"; /* Project id 2532482 */
  src: url('iconfont.woff2?t=1620527147853') format('woff2'),
       url('iconfont.woff?t=1620527147853') format('woff'),
       url('iconfont.ttf?t=1620527147853') format('truetype');
}

@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont_liq.ttf?t=1620742613719') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icongitbook:before {
  content: "\e622";
}

.iconbianji:before {
  content: "\e611";
}

.iconfuzhi1:before {
  content: "\e612";
}

.iconfangkuanxinxibiao:before {
  content: "\e613";
}

.icongantanhao-quan:before {
  content: "\e614";
}

.icongengduo:before {
  content: "\e615";
}

.icongengduo1:before {
  content: "\e616";
}

.iconjiantou_youshang1:before {
  content: "\e617";
}

.icontuite:before {
  content: "\e618";
}

.iconqianbao:before {
  content: "\e619";
}

.iconguanbi1:before {
  content: "\e61a";
}

.iconwode:before {
  content: "\e61b";
}

.icontuoyuan1kaobei:before {
  content: "\e61c";
}

.iconshezhi:before {
  content: "\e61d";
}

.icongithub:before {
  content: "\e61e";
}

.icontelegram:before {
  content: "\e61f";
}

.iconshouye:before {
  content: "\e620";
}

.iconxieboke:before {
  content: "\e621";
}

.icon-ico_ttms:before {
  content: "\e689";
}

.icon-bingtutubiao:before {
  content: "\e98c";
}

.icon-chufang:before {
  content: "\e98d";
}